/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Variables CSS */
:root
{
    --header-height: 3rem;
	--font-semi: 600;
}
/* Colors */
:root
{
    --white: #fff;
    --gray: #E0E8E8;
    --blue: #C3EAE9;
    --yellow: #F6FF7D;
    --green: #054A44;
}
/* Fonte */
:root
{
	--body-font: 'Poppins', sans-serif;
    --title-font-size: 3rem;
	--big-font-size: 2rem;
    --p-font-size: 1.25rem;
    --average-font-size: 1rem;
	--normal-font-size: 1rem;
    --little-font-size: .938rem
}
@media screen and (min-width: 768px)
{
	:root
	{
        --title-font-size: 7rem;
		--big-font-size: 3rem;
		--h2-font-size: 2.5rem;
        --average-font-size: 2rem;
        --p-font-size: 1.25rem;
		--normal-font-size: 1.25rem;
        --little-font-size: 1rem;
	}
}
/* Margens */
:root
{
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}
/* z index */
:root{
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}
/* Bootstrap */
.center
{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.w50,
.inform__w50
{
    width: 50%;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}
@media screen and (max-width: 768px) 
{
    .w50
    {
        width: 100%;
    }
}
@media screen and (max-width: 1335px)
{
    .inform__w50
    {
        width: 100%;
    }
}
/* Base */
*::before::after
{
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    margin: var(--header-heigth) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: #000;
    background: var(--blue);
}
h1, h2, p
{
    margin: 0;
}
ul
{
    margin: 0;
	padding: 0;
	list-style: none;
}
a
{
    text-decoration: none;
    color: var(--white);
}
img
{
    max-width: 100%;
	height: auto;
	display: block;
}
/* Class CSS */
.home__button
{
	display: inline-block;
    width: 260px;
    height: 60px;
	background-color: var(--yellow);
	color: var(--green);
    font-size: var(--p-font-size);
    font-weight: 500;
    border: none;
	border-radius: 2rem;
    margin-bottom: var(--mb-2);
}
.home__button:hover
{
    background: #E0E870;
    box-shadow: 2px 2px 8px rgba(146, 161, 176, .15);
}
.title
{
    text-align: center;
    font-size: var(--p-font-size);
    font-weight: 500;
    color: var(--green);
    margin-top: var(--mb-4);
    margin-bottom: var(--mb-4);
}
input
{
    width: 100%;
    color: var(--green);
    margin: 8px 0;
    padding-left: 50px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: var(--normal-font-size);
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--gray);
    outline: none;
}
input:focus
{
    color: var(--green);
}
input:focus + i
{
    color: var(--green);
}
i
{
    position: relative;
    left: 0;
    top: -2.7rem;
    font-size: 1.25rem;
    color: var(--gray);
    padding: 9px 8px;
}
/* Layout */
.bd-grid
{
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}
.l-header
{
    position: relative;
    max-width: 1024px;
	width: 90%;
	top: 0;
	left: 0;
	margin-left: var(--mb-4);
	margin-right: var(--mb-4);
	z-index: var(--z-fixed);
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}
.l-main
{
    position: relative;
	top: 8vh;
}


section
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: calc(100vh - 3rem);
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--blue);
    transition: .5s;
    z-index: -10;
}
section video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section .home .enter__title
{
    letter-spacing: 0;
    margin-bottom: 0;
    color: var(--white);
    font-size: var(--big-font-size);
    font-weight: 500;

    animation: top 2s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
section .home .buttons
{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section .home .buttons .home__button
{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    animation: bottom 2s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes top
{
    0%
    {
        letter-spacing: 0px;
        margin-bottom: 0;
    }
    100%
    {
        letter-spacing: 5px;
        margin-bottom: 14rem;
    }
}
@keyframes bottom
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}


.container__form
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85%;
    background-color: var(--white);
    border-radius: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide-controls
{
    position: relative;
    display: flex;
    align-items: center;
    bottom: 2.5rem;
}
.slide-controls .slide
{
    letter-spacing: 5px;
    color: var(--white);
    font-size: var(--average-font-size);
    cursor: pointer;
}
.slide-controls .line
{
    width: 1px;
    height: 100%;
    background-color: var(--white);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
input[type=radio]
{
    display: none;
}
#checkSingIn:checked ~ .sing-in
{
    color: var(--yellow);
}
#checkSingUp:checked ~ .sing-up
{
    color: var(--yellow);
}

#checkSingIn:checked ~ .sing-in
{
    color: var(--yellow);
}
#checkSingUp:checked ~ .sing-up
{
    color: var(--yellow);
}

input[type=submit]
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    max-width: 330px;
    width: 90%;
    height: 60px;
    padding-top: 5px;
    padding-right: 50px;
	background-color: var(--yellow);
	color: var(--green);
    font-size: var(--average-font-size);
    font-weight: 600;
    border: none;
	border-radius: 2rem;
    margin-bottom: var(--mb-2);
}
::placeholder {
    color: var(--gray);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--gray);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--gray);
  }
.container__form 
#btn,
#newBtn,
#reBtn
{
    position: relative;
    left: 77%;
}

.container__form
{
    transform: translateY(110%);
    display: none;
}
.form__sing-in
{
    opacity: 1;
}
.form__sing-up
{
    display: none;
}
