*{
	margin: 0;
	padding: 0;
	font-family: "PTSans-Regular";

}

html{
	height: 100%;
}

@font-face{
	src:url('PTSans-Regular.ttf');
	font-family: "PTSans-Regular";
}

body{
	background-image: url("Cidade.jpg");
	width: 100%;
	background-position: center;
	background-repeat: no repeat;
	background-size: cover;
}

.creditos{
	font-family: 'PTSans-Regular';
	position: fixed;
	bottom: 8px;
	right: 16px;
	font-size: 17px;
	color: #d9d9d9;
	z-index: 9999;
}

a{
	text-decoration: none;
	color: #8248e0;
	cursor: pointer;
}

.bg{
	position: relative;
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

form{
	width: 350px;
	align-items: center;
	font-size: 17px;
	background-color: rgba(0,0,0,30%);
	padding: 20px;
}

span{
	color: #d9d9d9;
}

.cadastro{
	padding: 0px 20px 30px 20px;
}

.cadastro h2{
	text-align: center;
	font-size: 36px;
	color: #e8e8e8;
}

.text{
	padding: 0px 20px 20px 20px;
}

input[type=text]{
	width: 100%;
	padding: 10px;
	margin: 3px 0;
	font-size: 17px;
	color: #d9d9d9;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #d9d9d9;
	background-color:  rgba(0,0,0,0%);
}

form input[type=text]:focus{
	outline: 0;
}

.email{
	padding: 0px 20px 20px 20px;
}

input[type=email]{
	width: 100%;
	padding: 10px;
	margin: 3px 0;
	font-size: 17px;
	color: #d9d9d9;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #d9d9d9;
	background-color:  rgba(0,0,0,0%);
}

form input[type=email]:focus{
	outline: 0;
}

.senha{
	padding: 0px 20px 20px 20px;
}

input[type=password]{
	width: 100%;
	padding: 10px;
	margin: 3px 0;
	font-size: 17px;
	color: #d9d9d9;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #d9d9d9;
	background-color: rgba(0,0,0,0%); 
}

form input[type=password]:focus{
	outline: 0;
}

.termos{
	padding: 0px 20px 20px 20px;
}

.termos span{
	font-size: 14px;
	margin-left: 3px;
}

.submit{
	padding: 0px 20px 20px 20px;
}

input[type=submit]{
	border: none;
	cursor: pointer;
	width: 130px;
	padding: 7px 0px;
	border-radius: 15px;
	color: #d9d9d9;
	font-size: 17px;
	background-color: #000;
	text-decoration: "PTSans-Regular";
}

form input[type=submit]:focus{
	outline: 0;
}
